*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro';
    --ff-scondary: "Source Code Pro";

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #ffff;
    --clr-dark: rgb(43, 42, 76);
    --clr-accent: rgb(78, 79, 235);

    --fs-h1: 3rem;
    --fs-h2: 3.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}
.inputField{
    font-size: 2rem;
    padding: 1.5rem 1rem;
    outline: none;
    width: 20rem;
    height: 2.5rem;
    display: block;
    margin: 0 auto;
}
.inputField:focus{
    outline: 3px solid var(--clr-accent);
}
.button{
    padding: 0.3rem 2.5rem;
    border-radius: 1.5rem;
    font-size: var(--fs-h3);
    display: block;
    margin: 2rem auto;

}